body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sidh {
		
		width: 0%;
		visibility:hidden;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
#show_ul {
		
		width: 100%;
		visibility:hidden;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.sidul {
		
		width: 100%;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.sidul ul{float: left;
      display: block;
      background-color: #a6a6a2;
      overflow: visible;}
	.ver{
	position: relative;
  display: block;
  padding: 1em;
  background: black;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
header {
	background: black;
    width: 100%;
	top: 0;
    height: 100px;
	position: absolute;
}
header ul{
    display: inline-block;
	position: relative;
	height: 260px;
	float: left;
}
header ul li{
	padding-left:14px;
       list-style-type:none;
        margin-left:0cm;
	margin: 10;
	padding: 10;
	color: white;
	float: left;
	position: relative;
}
header #div1{
	background: #3333FF;
	position: relative;
	height: 160px;
}
header #div2{
	background: #6600CC;
	position: relative;
	height: 160px;
}
#container{
    float: right;

	
	margin: 0;
	padding: 0;
	position: relative;

}
#sideLeft
{
	margin: 0;
	padding: 0;
	top: 200px;
	width: 260px;
	float: left;
	background: #00CCFF;
	position: absolute;
}
#wrapper{
	width: 100%;
	height: 100%;
	margin: 10px 0 10px;
}
#box {
	position: absolute;
	float: left;
	bottom: 176px;
    display: block;
	width: 160px;
    
}


#middle {
    position: relative;
}
#content {
    padding-top: 200px;
	position: relative;
	

	width: 460px;
	float: right;
}

#footer {
    
	bottom: 0;
    width: 100%;
    background: #66CC66;
    height: 160px;
	position: absolute;
	
}
.sid {
		width: 0%;
		visibility:none;
	}
	#images{bottom: 160px}
/* Flexnav Base Styles */
@media screen and (max-width: 980px) {

	/* pagewrap */
	.sid {
		width: 0%;
		visibility:none;
	}
    .sidh {
		
		width: 0%;
		visibility:none;}
	/* content */
	.content {
		width: 60%;
		padding: 3% 4%;
	}

	/* sidebar */
	.sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}
    #footer {
    
	bottom: 0;
    width: 100%;
    background: #66CC66;
    height: 150px;
	position: absolute;
	
}

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	/* header */
	#header {
		height: auto;
	}
	.sidh {
		
		width: 100%;
		visibility:visible;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	/* main nav */
	.sid {
		float: right;
		width: 100%;
		visibility:show;
	}
	.main{
		position: static;
	}

	/* site logo */
	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}


	/* content */
	.content {
		width: 30%;
		float: none;
		margin: 20px 0;
	}

	/* sidebar */
	.sidebar {
		width: 10%;
		margin: 0;
		float: none;
	}
	.menu{font-family: 'trebuchet ms', sans-serif;
  font-size: 60%;}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}
    #footer {
    
	bottom: 0;
    width: 100%;
    background: #66CC66;
    height: 65%;
	position: absolute;
	
}
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	.sid {
		width: 100%;
		visibility:show;
	}
	.sidh {
		
		width: 100%;
		visibility:visible;
		position: fixed;
    top: 0;
    right: 0%;
    padding-right: 45px;
	}
	.menu{font-family: 'trebuchet ms', sans-serif;
  font-size: 50%;}
	.site_content
	{width: 0%;}
    .sidebar {
		width: 50%;
		visibility:show;
	}
	.content {
		width: 50%;
		float: none;
		margin: 20px 0;
	}
	/* main nav */
	#main a {
		font-size: 90%;
		padding: 10px 8px;
	
	#footer {
    
	bottom: 0;
    width: 40%;
    background: #66CC66;
    height: 40%;
	position: absolute;
	
}

}

